@section styles{

    <style>

        .saving span {
            -webkit-animation-duration: 1.4s;
            -webkit-animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: blink;
            animation-duration: 1.4s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-name: blink;
            font-size: 50px;
        }

        .saving span:nth-child(2) {
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .saving span:nth-child(3) {
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        @@-webkit-keyframes blink {
            0% { opacity: .2; }

            20% { opacity: 1; }

            100% { opacity: .2; }
        }

        @@keyframes blink {
            0% { opacity: .2; }

            20% { opacity: 1; }

            100% { opacity: .2; }
        }
    </style>
}

<div class="col-md-12" style="text-align: center">
    <canvas id="gears" gear></canvas>
    <div ng-controller="parseStatusController">
        <h3 class="saving">Parsing {{ ParseStatusService.parsedEntity }} <span>.</span><span>.</span><span>.</span></h3>
    </div>
</div>