<div class="col-md-9">
    <div ng-view>


    </div>
</div>

<div class="col-md-3" ng-controller="logController">
    <h1>{{ mensagem }}</h1>
    <div ng-repeat="n in numero.connected track by $index" id="autoscroll">
        <h4> {{ n }}</h4>
    </div>
</div>